<tr id="<%= dom_id user %>">
  <td><%= user.last_name %></td>
  <td><%= user.first_name %></td>
  <td><%= user.dob.strftime("%d %b %Y") %></td>
  <td><%= user.email_address %></td>
  <td><%= user.books.count %></td>
</tr>