<tr>
  <% unless activity.key.include? "update" %>
    <td><%= simple_format t("activity.#{activity.key}", name: activity.trackable.pub_act_key, 
      linked_name: link_to(activity.trackable.pub_act_key, activity.trackable, class: "fw-bold")) %></td>
  <% else %>
    <td>
      The <%= activity.trackable.class.to_s.downcase %> '<%= link_to(activity.trackable.pub_act_key, activity.trackable, class: "fw-bold") %>' was updated.</br>
      <ul>
      <% activity.parameters[:changes].each do |k, v| %>
        <% unless k == "updated_at" %>
          <li><%= k.humanize %> changed from '<%= v[0] %>' to '<%= v[1] %>'</li>
        <% end %>
      <% end %>
      </ul>
    </td>
  <% end %>
  <td><%= activity.created_at.strftime("%d %b %Y, %H:%M") %></td>
</tr>

